resource_group_name                       = "rg-ghrunnersacajobs"
location                                  = "North Europe"
log_analytics_workspace_name              = "la-ghrunnersacajobs"
log_analytics_workspace_sku               = "PerGB2018"
log_analytics_workspace_retention_in_days = 30
identity_name                             = "umi-ghrunnersacajobs"
aca_environment_name                      = "acaeghrunnersacajobs"
job_name                                  = "acajrunnersjobs"
job_image                                 = "aztfmod/rover-agent:1.2.9-2305.1807-github"
job_replica_timeout                       = 604800
job_replica_retry_limit                   = 1
gh_owner                                  = "devops-circle"
gh_repository                             = "gh-runners-aca-jobs"
gh_scope                                  = "repo"
gh_pat_secret_name                        = "pat-token-secret"
gh_pat_value                              = "ghp_THIS_IS_A_GH_TOKEN"
job_cpu                                   = 2.0
job_memory                                = "4Gi"
job_scale_min_executions                  = 0
job_scale_max_executions                  = 10
parallelism                               = 10

env_variables = [
  {
    name  = "EPHEMERAL"
    value = "true"
  },
  {
    name  = "URL"
    value = "https://github.com"
  },
  {
    name      = "GH_TOKEN"
    secretRef = "pat-token-secret"
  },
  {
    name  = "GH_OWNER"
    value = "devops-circle"
  },
  {
    name  = "GH_REPOSITORY"
    value = "gh-runners-aca-jobs"
  },
  {
    name  = "LABELS"
    value = "label1,label2,label3"
  }
]
